.course{
    background: #fafafa !important;
}


.course .flex{
    /* display: flex;
    justify-content: center;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 17px; 
}

.course .contain{
    width:100%;
    height: 100%;
    margin: 8px;
}

.course .flex img{
    width: 100%;
    object-fit: cover;
 }
 .fig{
    overflow: hidden;
}

.flex #zoomin img{
     transform: scale(1);
     transition: 0.3s ease-in-out;
}

.flex #zoomin:hover img {
    transform: scale(1.1);
}

 .course .contain h6{
     color: black;
 }

 .course .icons .num{
     color: #ff6f0f;
 }
.course .icons i{
     color: #052555f3;
 }
 .contain button:hover{
    background-color: #052555f3;
 }

 .course button a{
    color: white;
    text-decoration: none;   
}
.course button a span{
    font-size: px;
    font-weight: lighter;
}

.course .contain button{

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.505),
    12px 12px 16px 0 rgba(255, 255, 255, 0.104) inset,
    -8px -8px 12px 0 rgba(175, 106, 3, 0.35) inset;
     border: none; 
    text-decoration: none;
    background-color: #ff6f0f;
     box-shadow: rgba(68, 32, 1, 0.788) 2px 2px 0px  ;
     border-radius: 2px; 
     transition: transform 200ms, box-shadow 200ms; 
    padding: 3px;
}

.contain button:hover{
    background-color: #052555f3;
 }

.course button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: rgba(68, 32, 1, 0.788) 0px 0px 0px;
} 


/* .flex .card{
    border: none;
    padding: 20px;
    border-bottom: 1px solid rgba(78, 78, 78, 0.438);
    
}
.card:hover{
    border-radius: 30px;
    box-shadow:   0 12px 7px -6px black;
}

.course .flex img{
   width: 100%;
   margin-right: auto;
   border-radius: 30px;
}

.fig{
    overflow: hidden;
}

.flex #zoomin img{
     transform: scale(1);
     transition: 0.3s ease-in-out;
}

.flex #zoomin:hover img {
    transform: scale(1.1);
}
.course .flex .contain1 a{
   text-decoration: none;
   font-weight: bold;
   color: black;
}

.content{
    padding: 10px;
}


.content button a{
    color: white;
    text-decoration: none;   
}
.content button a span{
    font-size: 20px;
    padding: 12px 18px;
    font-weight: 500;
}

.content button {
    border: none;
    text-decoration: none;
    background-color: #ff6f0f;
    box-shadow: rgba(68, 32, 1, 0.788) 4px 4px 0px  ;
    border-radius: 7px;
    transition: transform 200ms, box-shadow 200ms;
}

.content button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: rgba(68, 32, 1, 0.788) 0px 0px 0px;
} */
