.cust-card{
    box-shadow: rgba(0, 0, 0, 0.148) 3px 3px  3px 3px;
    border-radius: 10px;
}
.custom-hr-section{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 20px;
}
.cust-form-control{
    border: 0px solid #979797 !important;
    box-shadow: none !important;
}
.cust-form-control:focus{
    border: 0px solid #979797 !important;
    box-shadow: none !important;
}
.cust-eye-span{
    border: 0px;
    background-color: #e9e9eb;
}
.cust-eye-span i{
    color: black;
}

/* PAYMENT DETAILS SECTION CSS*/
.custom-payment{
    background-color: #ffffff !important;
}