.cust-card{
    box-shadow: rgba(0, 0, 0, 0.148) 3px 3px  3px 3px;
    border-radius: 10px;
}
.custom-hr-section{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 20px;
}
.cust-form-control{
    border: 1px solid #979797 !important;
    box-shadow: none;
}
.cust-form-control:focus{
    border: 1px solid #979797 !important;
    box-shadow: none;
}