/** ABOUT COURSE **/

.coursehero{
    background: #e1e6ff79 !important;
}

/* .coursehero .mainflex{
    display: flex;
    justify-content: center; 
    justify-content: space-between;
} */


.coursehero .nextitem i{
    font-size: small;  
    padding-left: 10px;
    padding-right: 10px;
}
.courseheros .nextitem b{
    font-weight: bold;
}

.instructor img{
    width: 7%;
}

.mybtn{
    border: none;
    border-radius: 4px;
    background: #ff6f0f;
    padding: 4px 22px 4px 22px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.505), 12px 12px 16px 0 rgba(255, 255, 255, 0.104) inset, -8px -8px 12px 0 rgba(175, 106, 3, 0.35) inset;
    
}



.mybtn:hover{
    border: none;
    border-radius: 7px;
    background: #030d59;
    padding: 4px 22px 4px 22px
}

/* 
.item2 .videohere{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.item2 .videohere iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

@media (max-width:767px) {
    .coursehero .nextitem {
        font-size: 13px;
    }

    .coursehero .item1 h2{
        font-size: 19px !important;
    }

    .coursehero .item1 p{
        font-size: 14px !important;
        font-weight: lighter;
    }

    .coursehero .item1 .trate{
        font-size: 13px;
    }

    .coursehero .item1 .instructor{
        font-size: 13px;
    }

    .coursehero .item1 .mybtn a .txt{
        font-size: 12px !important;
    }

    .coursehero .item1 .h5{
        font-size: 13px;
    }

    .coursehero .item2 .videohere iframe{
         width: 60%;
         margin: 30px;
    }

}



.courseobj{
    padding: 30px;

}

/* .courseobj .mainflex{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
} */



.courseobj .oneflex .flexed{
    display: flex;
}


.objbord{
    border: 2px solid #030d59;
    padding: 10px;
    border-radius: 7px;
}

.objbord h6{
    font-weight: bold;
}

.oneflex .flexed i{
    color: #ff6f0f;
}


.objbord .flexed span{
     padding: 6px;
     font-size: 18px;
}


@media (max-width:767px) {
    .courseobj .item1 .objbord h6{
        text-align: center !important;
        font-size: 14px;
    }

    .courseobj .item1 .objbord .short{
       display: none !important;
    }
    
    .courseobj .item1 .objbord .flexed i{
        font-size: 13px;
    }

    .courseobj .item1 .objbord .flexed .h5{
          font-size: 17px;  
    }

}






.about{
    background: #d5f1fa97 !important;
}

.about .abouttextarea .maintext{
    font-size: 20px;
    line-height: 30px;
}

@media (max-width:700px) {
    .about .abouttextarea h3{
        font-size: 20px;
    }

    .about .abouttextarea .maintext{
        font-size: 16px !important;
        padding: 23px;
    }
}


.ratings .profile i{
    font-size: 30px;
    color: #030d59;
}

.ratings .star i{
    color: #ff6f0f;
}

.ratings .thumbs .up{
    /* border: 1px solid #ff6f0f ; */
    margin: 5px;
    padding: 16px;
   
    background-color: #030d59;
}

.ratings .thumbs .down{
    /* border: 1px solid #ff6f0f ; */
    margin: 5px;
    padding: 16px;
    background-color: #030d59;
}

.ratings .thumbs i{
    font-size: 22px;
    color:white;
}

@media (max-width:767px) {
    .ratings .contain{
        padding: 90px;
        
    }

    .ratings .profile i{
        margin-left: 50%;
        font-size: 17px;
    }

    .ratings h5{
        text-align: center;
        font-size: 17px;
    }

    .ratings .star{
        text-align: center;
        font-size: 17px;
    }

    .ratings p{
        text-align: center;
        font-size:13px;
    }

    .ratings .thumbs .up,.down{
        margin-left: 33%;
        font-size:13px;
    }
}


/** ABOUT COURSE END **/