.case-study{
    padding: 9rem 0;
}

.custom-container {
    position: relative;
    width: 100%;
  }
  .custom-container img{
    border-radius: .9rem;
    /* box-shadow: 0px 2px 5px rgba(18, 10, 138, 0.5); */
    border-bottom: solid 2px rgba(248, 125, 10, 0.973);
   

  }
  
  .custom-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .custom-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #02266894;
    border-radius: .9rem;
    box-shadow: 0px 2px 5px rgba(18, 10, 138, 0.5);


  }
  
  .custom-container:hover .custom-overlay {
    opacity: 1;
  }
  
  .custom-text {
    width: 100%;
    color: white;
    font-size: .9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card-radius{
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      border-top-left-radius: .9rem;
      border-top-right-radius: .9rem;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.308);
  }
  .view{
    border-radius: 20px!important;
    background-image: linear-gradient(to right, #002f75, #002a65, #002455, #021f46, #051937);
    border:0!important;
  }

  .view:hover{
   box-shadow:0px 2px 5px rgba(255, 126, 5, 0.555);
  }
